<toolbar-panel (onAddClick)="codebasesAdd.togglePanel($event)"></toolbar-panel>
<codebases-add (onAdd)="updateCodebase($event)" [codebases]="codebases" #codebasesAdd></codebases-add>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <alm-listview
          [actionTemplate]="actionTemplate"
          [config]="listViewConfig"
          [items]="codebases"
          [itemTemplate]="itemTemplate"
          [itemExpandedTemplate]="itemExpandedTemplate"
          (onActionSelect)="codebasesAdd.togglePanel($event)">
        <template #itemTemplate let-item="item" let-index="index">
          <codebases-item [codebase]="item" [index]="index"></codebases-item>
        </template>
        <template #actionTemplate let-item="item" let-index="index">
          <codebases-item-actions [codebase]="item" [index]="index"></codebases-item-actions>
        </template>
        <template #itemExpandedTemplate let-item="item" let-index="index">
          <codebases-item-details [codebase]="item"></codebases-item-details>
        </template>
      </alm-listview>
    </div>
  </div>
</div>
